body {
  background-color: #9bb5c7;
}
.img {
  height: 200px;
  width: 100%;
}
.mb-4 {
  width: 340px;
  height: 600px;
}
.div1 {
  width: 350px;
  height: 600px;
}
.div2 {
width: 348px;
height: 600px;
}
.all {
  background-color: #bcdef5;
}
.image {
  height: 700px;
  width: 100%;
}
